a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.9rem;
  background-color: #fdf2e9;
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}

.logo {
  height: 1.4rem;
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.main-nav-link {
  color: #333;
  transition: all 400ms;
}

.main-nav-link:hover {
  color: #e67e22;
}

.section-hero {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 3rem 2rem 8rem;
  background-color: #fdf2e9;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  align-self: center;
  max-width: 37.7rem;
}

.primary-heading {
  font-size: 3.3rem;
  line-height: 1;
  color: #333;
}

.hero-description {
  font-size: 1.3rem;
  line-height: 1.5;
}

.hero-costumer-img {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-costumer-img img {
  border-radius: 50%;
  height: 3rem;
  border: 2px solid #fff;
  margin-right: -1rem;
}

.hero-img {
  max-width: 37.5rem;
}

.delivered-meals {
  font-weight: 700;
}

.delivered-meals span {
  color: #e67e22;
}

/* 
************
SECTION LOGO
************ */

.section-logo {
  text-align: center;
  padding: 4rem;
}

.section-logo img {
  height: 2rem;
  margin: 1.5rem 1rem;
  filter: brightness(0);
  opacity: 50%;
}

/* 
************
SECTION HOW
************ */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 6rem;
  place-items: center;
  padding: 0 1rem;
}

.section-how {
  display: grid;
  place-content: center;
}

.section-how img {
  max-width: 13rem;
}

.section-how > span {
  color: red;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.step-number {
  display: inline-block;
  font-size: 5.4rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1rem;
}

.step-text-box p {
  font-size: 1.13rem;
  line-height: 1.7;
}
