:root {
  --primary-color: #fdf2e9;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.9rem;
  background-color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}

.logo {
  height: 1.4rem;
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.main-nav-link {
  color: #333;
  transition: all 400ms;
}

.main-nav-link:hover {
  color: #e67e22;
}

.section-hero {
  display: grid;
  place-content: center;
  padding: 3rem 2rem 8rem;
  background-color: var(--primary-color);
}

.hero {
  max-width: 81rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  align-self: center;
}

.primary-heading {
  font-size: 3.3rem;
  line-height: 1;
  color: #333;
}

.hero-description {
  font-size: 1.3rem;
  line-height: 1.5;
}

.hero-costumer-img {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-costumer-img img {
  border-radius: 50%;
  height: 3rem;
  border: 2px solid #fff;
  margin-right: -1rem;
}

.hero-img {
  max-width: 100%;
}

.delivered-meals {
  font-weight: 700;
}

.delivered-meals span {
  color: #e67e22;
}

/* 
************
SECTION LOGO
************ */

.section-logo {
  text-align: center;
  padding: 4rem;
}

.section-logo img {
  height: 2rem;
  margin: 1.5rem 1rem;
  filter: brightness(0);
  opacity: 50%;
}

/* 
************
SECTION HOW
************ */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 6rem;
  place-items: center;
  padding: 0 1rem;
}

.section-how {
  display: grid;
  place-content: center;
  padding: 6rem 1rem;
}

.section-how img {
  max-width: 13rem;
}

.step-number {
  display: inline-block;
  font-size: 5.4rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1rem;
}

.step-text-box p {
  font-size: 1.13rem;
  line-height: 1.7;
}

.section-meals {
  padding: 6rem 1rem;
}

.meals-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.meal {
  box-shadow: 0 5px 15px #00000018;
  width: 20rem;
  border-radius: 11px;
  overflow: hidden;
}

.meals-img {
  width: 100%;
}

.meal-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  align-self: self-start;
  margin-bottom: 1.5rem;
}

.meal-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 3rem;
  font-size: 1.12rem;
}

.meal-tag {
  display: flex;
  gap: 3px;
  align-self: self-start;
}

.tag {
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-atributes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.diets ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.12rem;
}

.section-testimonials {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  place-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

.testimonials-content {
  padding: 6rem;
}

.testimonials-content img {
  border-radius: 50%;
  width: 4rem;
}

.costumer-testimonial {
  margin: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.costumer-name {
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery img {
  width: 100%;
  transition: all 500ms;
}

.gallery img:hover {
  transform: scale(1.1);
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.section-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 0;
}

.pricing-title {
  text-align: left;
}

.pricing-container {
  display: flex;
  gap: 5rem;
}

.pricing-card {
  padding: 2.9rem;
  border-radius: 10px;
  border: 2px solid #fdf2e9;
  font-size: 1.12rem;
  margin-bottom: 3rem;
}

.pricing-plan--complete {
  background-color: var(--primary-color);
}

.pricing-card ul {
  list-style: none;
  line-height: 2.5;
  margin-bottom: 2.5rem;
}

.plan-name {
  font-size: 1.25rem;
  color: #cf711f;
}

.plan-price {
  font-size: 3.8rem;
  color: #333;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
}

.plan-header {
  text-align: center;
  margin-bottom: 3rem;
}

.plan-sign-up {
  text-align: center;
}

.plan-features {
  max-width: 70rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 6rem 2rem;
  font-size: 1.12rem;
  line-height: 1.7;
}

.feature-title {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
}

.section-cta {
  max-width: 70rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  color: #45260a;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 8rem;
  box-shadow: 0 10px 36px #0000001c;
}

.cta-img {
  width: 100%;
  height: 100%;
}

.cta-content {
  padding: 3rem;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
}

.cta-text {
  font-size: 1.25;
  margin-bottom: 2rem;
}

.cta-content .secundary-heading {
  margin-bottom: 2rem;
  color: inherit;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.cta-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1.12rem;
}

.btn--form {
  background-color: #45260a;
  font-weight: 600;
  align-self: end;
  font-size: 1.25rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #45260a;
}

.cta-img {
  background-image: linear-gradient(to right bottom, #eb974e69, #e67d222c),
    url("../img/eating.jpg");
  background-size: cover;
}

.footer {
  padding: 10rem;
  border-top: 1px solid #eee;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-content: center;
  gap: 2rem;
  max-width: 75rem;
  margin: auto;
}

.footer-logo {
  margin-bottom: 6rem;
}

.copyright {
  font-size: 0.9rem;
  color: #767676;
}

.footer ul {
  list-style: none;
  line-height: 2.3;
}

.footer .address {
  margin-bottom: 2rem;
}

.footer-heading {
  font-weight: 700;
  margin-bottom: 2rem;
}

.footer a:link {
  color: #767676;
  transition: all 500ms;
}

.footer a:hover {
  color: #555;
}
