a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.9rem;
  background-color: #fdf2e9;
  font-size: 1.1rem;
  font-weight: 500;
  color: #333;
}

.logo {
  height: 1.4rem;
}

.main-nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.main-nav-link {
  color: #333;
  transition: all 400ms;
}

.main-nav-link:hover {
  color: #e67e22;
}

.section-hero {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 3rem 2rem 8rem;
  background-color: #fdf2e9;
}

.hero-text-content {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  align-self: center;
  max-width: 37.7rem;
}

.primary-heading {
  font-size: 3.3rem;
  line-height: 1;
  color: #333;
}

.hero-description {
  font-size: 1.3rem;
  line-height: 1.5;
}

.hero-costumer-img {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-costumer-img img {
  border-radius: 50%;
  height: 3rem;
  border: 2px solid #fff;
  margin-right: -1rem;
}

.hero-img {
  max-width: 37.5rem;
}

.delivered-meals {
  font-weight: 700;
}

.delivered-meals span {
  color: #e67e22;
}

/* 
************
SECTION LOGO
************ */

.section-logo {
  text-align: center;
  padding: 4rem;
}

.section-logo img {
  height: 2rem;
  margin: 1.5rem 1rem;
  filter: brightness(0);
  opacity: 50%;
}

/* 
************
SECTION HOW
************ */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 6rem;
  place-items: center;
  padding: 0 1rem;
}

.section-how {
  display: grid;
  place-content: center;
  padding: 6rem 0;
}

.section-how img {
  max-width: 13rem;
}

.step-number {
  display: inline-block;
  font-size: 5.4rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1rem;
}

.step-text-box p {
  font-size: 1.13rem;
  line-height: 1.7;
}

.section-meals {
  padding: 6rem 0;
}

.meals-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.meal {
  box-shadow: 0 0 10px #00000018;
  width: 20rem;
}

.meals-img {
  width: 100%;
}

.meal-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  align-self: self-start;
  margin-bottom: 1.5rem;
}

.meal-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem 3rem;
  font-size: 1.12rem;
}

.meal-tag {
  display: flex;
  gap: 3px;
  align-self: self-start;
}

.tag {
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.tag-vegan {
  background-color: #94d82d;
}

.tag-paleo {
  background-color: #ffd43b;
}

.meal-atributes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

.diets ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.12rem;
}
